<app-navbar></app-navbar>
<!--Título da lista de contatos -->
<section>
    <div class="container-title">
        <h1>CONTATOS</h1>
    </div>
</section>
<!-- Botão de adicionar contato -->
<section>
    <div class="container-buttons">
        <button mat-raised-button color="primary" routerLink="/cadastro-contatos">Cadastrar Novo Contato</button>
        <button routerLink="/cadastro-usuario" mat-raised-button color="primary">Criar Novo Usuário</button>
    </div>
</section>
<!-- Tabela de lista de contatos -->
<section>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fone</th>
                    <th>menu</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let contact of contactsList">
                    <td data-label="Nome"> {{contact.name}} </td>
                    <td data-label="Email"> {{contact.email}} </td>
                    <td data-label="Fone"> {{contact.phone}} </td>
                    <td><div class="container_buttons_table">
                        <mat-icon (click)="deleteContacts(contact)">delete</mat-icon>
                        <mat-icon (click)="editContatos(contact)">edit</mat-icon>
                    </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
